@import '../../assets/styles/additionals.scss';
.good-card-wr {
  display: flex;
  height: 75vh;
}
.good-card {
  display: flex;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;  
  

  &__left-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__photo-min {
    display: block;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 7px;
    margin: 10px 0;
    width: 100px;
    height: 70px;
    cursor: pointer;
  }

  &__photo-max {
    display: block;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 7px;
    margin: 10px;
    width: 250px;
    height: 200px;
    cursor: pointer; 
  }
  
  & p {
    margin: 5px 0;
  }

  &__btns-container {
    display: flex;
    gap: 20px;
  }

  &__btn {
    width: 120px;
    font-size: 16px;
    font-weight: 400;    
    cursor: pointer;
    margin: 20px 0;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 30px;
    background-size: 300% 100%;    
    box-shadow: 4px 4px 5px rgba(122,122,122,0.5);      
  }
}

.buy-now-btn {
  background-color: $pink;
}

.add-to-cart-btn {
  background-color: $blue;
}

@media (max-width: 1024px) {
  .good-card-wr {    
    height: max-content;
  }
  
  .good-card {
    flex-direction: column;
    align-items: center;
    

    &__title {
      text-align: center;
    }

    &__price {
      text-align: center;
    }

    &__left-row {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__photo-min {
      margin: 0 10px;
    }

    &__second-row {
      order: -1;
    }

    &__btns-container {
      justify-content: center;
    }
  }

}

@media (max-width: 768px) {
  .good-card {
    width: 100%;
    padding: 5px;
  }
}

@media (max-width: 425px) {

  .good-card {
    &__photo-min {
      width: 80px;
      height: 60px;
    }

    &__photo-max {
      width: 200px;
      height: 170px;
    }
  }

  
  

}