$main-font: Roboto, sans-serif;
$blue: #1A6DFF;
$light-blue: #8AB4FF;
$purple: #C822FF;
$light-purple: #E492FF;
$pink: #F942E6;
$grey: #d6d5d5;
$dark-grey: #8f8e8e;
$light-grey: #f3f2f2;

.display-none {
  display: none;
}

// варант раскладки списком
// для .goods__goods-container 
.list-cont {
  display: flex;
  flex-direction: column;
}
// для .goods__item 
.list-item {
  flex-direction: row;
}
// для .goods__item__add-to-cart-btn 
.list-btn {
  width: 80px;
  height: 35px;
}

// вариант раскладки квадратиками 
// для .goods__goods-container
.cube-cont {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
}
// для .goods__item
.cube-item {
  flex-direction: column;
}
// для .goods__item__add-to-cart-btn
.cube-btn {
  width: 50px;
  height: 25px;
}

