.good-card {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;  

  &__left-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__photo-min {
    display: block;
    border: 1px solid #000;
    border-radius: 7px;
    margin: 10px 0;
    width: 100px;
    height: 70px;
  }

  &__photo-max {
    display: block;
    border: 1px solid #000;
    border-radius: 7px;
    margin: 10px;
    width: 250px;
    height: 200px;
  }

  & p {
    margin: 5px 0;
  }

  &__btns-container {
    display: flex;
    gap: 20px;
  }

  &__btn {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);        
  }
}